{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block title %}
    <title>Best Beans|Beans</title>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1>Beans</h1>
        <div class="container">
            <form method="get">
                {% bootstrap_form filter.form field_class='form-check form-check-inline' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
        {% if bean_list %}
            {% include 'coffee\beans_list_partial.html' with beans=bean_list %}
        {% endif %}
    </div>
{% endblock %}