{% extends "base_generic.html" %}

{% block content %}
    <h1>Name: {{ bean.name }}</h1>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Roast: {{ bean.get_roast_level_display }}</h4>
        <h4>Country of Origin: {{ bean.country_of_origin }}</h4>
    </div>
    {% for rating in bean.rating_set.all %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ rating.score }} - {{ rating.get_title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">by: {{ rating.user.username }}</h6>
                <p class="card-text">{{ rating.comments }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}